.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  display: flex;
  justify-content: center;
}

.gradient {
  font-size: 6rem;
  background: linear-gradient(
    45deg,
    #faee0a,
    rgba(33, 140, 33, 0.618),
    #4442af
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.form {
  text-align: center;
}

input[type="text"] {
  width: 500px;
  height: 30px;
  display: inline-block;
  padding-right: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray;
}

button[type="submit"] {
  cursor: pointer;
  margin-left: -60px;
  background-color: white;
  border: none;
}
